@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


/* HAY 3 TIPOS DE SELECTORES: de etiqueta, clase y Id . su funcion es seleccionar elementos del html*/


* {
  font-family: "Poppins", sans-serif;
  /* reset */ /* como si reseteara las configuraciones preestablecidas*/
  padding: 0;
  margin: 0;
  text-align: center;

}

/* selectores de etiqueta*/
h1, h2, h3, h4{
  font-family: "Outfit", sans-serif;;
}

h1 {
  color: #505a21;
  padding: 8px 30px;
  font-size: 2.5rem;
}

h2 {
  color: #a0ab93;
  padding: 8px 30px;
  font-size: 1.5rem;
}

h3{
    color: #505a21;
    padding: 8px 30px;
    font-size: 1rem;
}

body {
  background-color: #f5f5ef;
}

/* selectores descendente de etiqueta*/

nav {
  background-color: #c2e9af;
  padding: 8px 30px;
  font-size: 1rem;
  display: flex;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
}


#logo{
  width: 80px;
}

nav ul {
  list-style: none;
  display:flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  margin-right: 100px;
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  color: rgb(80, 75, 75);
}
nav a img {
  width: 100px;
  margin-right: 80px;
}

header img {
  width: 100%;
}

/* p {
  color: rgb(80, 75, 75);
  font-weight: 500;
  font-size: 1rem;
  padding: 8px 30px;
  line-height: 1, 5rem;
  height: auto;
} */

main {
  padding: 10px 30px;
  margin-top: 100px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

footer img {
  height: 5rem;
  color: #505a21;
}

.inicio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* arreglar inicio */
.section1-inicio img {
  width: 130px;
}
.section2-inicio img {
    width: 235px;
}

.section3-inicio img {
    width: 200px;
}

.section4-inicio img {
    width: 195px;
}

.header{
  background-color: var(--third-color);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.section1-inicio, .section2-inicio{
  display: flex;
  justify-content: space-around;
}

.image-container {
  padding: 1rem;
  justify-items:center;
  text-align: center;
}

