<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.png">
    <script src="https://kit.fontawesome.com/87193dc31d.js" crossorigin="anonymous"></script>
    <title>Tienda</title>
  </head>
  <body>
    <header class="header">
      <nav>
        <div class="logo-container">
          <a href="../index.html" class="logo-a">
            <img src="../static/img/logo.png" id="logo" alt="logo">
          </a>
        </div>
        <div class="menu" id="main-menu">
          <span class="close-menu">
            <i class="fa-solid fa-x" id="close-menu-button"></i>
          </span>
          <ul>
            <li>
              <a href="#">Tienda</a>
            </li>
            <li>
              <a href="blog.html">Blog</a>
            </li>
            <li>
              <a href="contacto.html">Contacto</a>
            </li>
          </ul>
          <a href="#" class="carrito">
            <i class="fa-solid fa-cart-shopping" id="carrito"></i>
          </a>
        </div>
        <span>
          <i class="fa-solid fa-bars" id="open-menu-button"></i>
        </span>
      </nav>
    </header>

    <main>
      <h1>VIVERO FULANITO</h1>
      <h2>Todas nuestras variedades de plantas</h2>
      <div class="tienda">
        <div class="scale-animation">
          <img src="../static/img/tienda/geranio.jpeg" alt="foto de un Geranio" >
          <p>Geranio</p>
          <p>$3500</p>
          <button class="boton-carrito">Agregar al carrito</button>
        </div>
        <div class="scale-animation">
          <img src="../static/img/tienda/begonia.jpeg" alt="foto de una Begonia" >
          <p>Begonia</p>
          <p>$3500</p>
          <button class="boton-carrito">Agregar al carrito</button>
        </div>
        <div class="scale-animation">
          <img src="../static/img/tienda/clavel.jpeg" alt="foto de una Begonia" >
          <p>Clavel</p>
          <p>$3500</p>
          <button class="boton-carrito">Agregar al carrito</button>
        </div>
        <div class="scale-animation">
          <img src="../static/img/tienda/dracena.jpeg" alt="foto de una Dracena" >
          <p>Dracena</p>
          <p>$3500</p>
          <button class="boton-carrito">Agregar al carrito</button>
        </div>
        <div class="scale-animation">
          <img src="../static/img/tienda/helecho.jpeg" alt="foto de un Helecho" >
          <p>Helecho</p>
          <p>$3500</p>
          <button class="boton-carrito">Agregar al carrito</button>
        </div>
        <div class="scale-animation">
          <img src="../static/img/tienda/bonsais.jpg" alt="foto de un Bonsais" >
          <p>Bonsáis</p>
          <p>$3500</p>
          <button class="boton-carrito">Agregar al carrito</button>
        </div>
        <div class="scale-animation">
          <img src="../static/img/tienda/cactus.jpeg" alt="foto de Cactus" >
          <p>Cactus</p>
          <p>$3500</p>
          <button class="boton-carrito">Agregar al carrito</button>
        </div>
        <div class="scale-animation">
          <img src="../static/img/tienda/suculetas.jpg" alt="foto de Suculentas" >
          <p>Suculentas</p>
          <p>$3500</p>
          <button class="boton-carrito">Agregar al carrito</button>
        </div>
        <div class="scale-animation">
          <img src="../static/img/tienda/orquidea.jpeg" alt="foto de Orquídea" >
          <p>Orquídeas</p>
          <p>$3500</p>
          <button class="boton-carrito">Agregar al carrito</button>
        </div>
        <div class="scale-animation">
          <img src="../static/img/tienda/lirio.webp" alt="foto de Lirio" >
          <p>Lirios</p>
          <p>$3500</p>
          <button class="boton-carrito">Agregar al carrito</button>
        </div>
        <div class="scale-animation">
          <img
            src="../static/img/tienda/violeta-africana.avif"
            alt="foto de Violetas africanas">
          <p>Violetas africanas</p>
          <p>$3500</p>
          <button class="boton-carrito">Agregar al carrito</button>
        </div>
        <div class="scale-animation">
          <img src="../static/img/tienda/potos.jpeg" alt="foto de Potos" >
          <p>Potos</p>
          <p>$3500</p>
          <button class="boton-carrito">Agregar al carrito</button>
        </div>
      </div>
    </main>

    <footer>
      <div class="f-logo-container">
        <a href="/index.html" class="logo-a">
          <img src="../static/img/logo.png" id="logo-footer" alt="logo">
        </a>   
        <p>Fulanito</p>
        </div> 
        
        <div class="iconos">
            <a href="https://www.facebook.com/profile.php?id=100065750388569" target="_blank">
              <i class="fa-brands fa-facebook"></i>
            </a>
          <a href="https://www.instagram.com/te_la_creiste_we_/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>  
        <div class="datos">
          <a href="contacto.html">Avenida Boedo 3322</a>
          <a href="#">Términos y condiciones</a>
          <a href="#">Preguntas Frecuentes</a>
        </div>
    </footer>
    <script src="../scripts/menu.js"></script>
  </body>
</html>
